<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="./css/estudiantes.css">
</head>

<body data-bs-theme="dark">
  <br>
  <div class="contenedor">
    <div class="contenedor-tabla">
      <h1>Apoderados</h1>
      <table id="myTable" class="">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">nombres</th>
            <th scope="col">apellido p</th>
            <th scope="col">telefono</th>
            <th scope="col">opciones</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCrear">
        Crear Apoderado
      </button>
    </div>

    <div class="ficha hide">
      <div class="estudiante-card">
        <img id="avatar" src="../images/avatar.png" alt="">
        <div class="info">
          <p class="titulo" id="nombre-apoderado">Damián Alberto Panes Lobos</p>
          <p class="descripcion"><span id="rut-apoderado">21.932.498-7</span> | <span
              id="contacto-apoderado">+56940806215</span>
          </p>
          <div class="buttons">
            <button class="primary-btn">Ver Atrasos</button>
            <button class="secondary-btn" onclick="btnEditarModal()">Editar</button>
          </div>
        </div>


      </div>
      <div class="buttons-bottom">
        <button class="primary-btn" onclick="btnBorrar()">Eliminar Apoderado</button>
      </div>
    </div>
  </div>

  <!-- Modal Crear Estudiante -->
  <div class="modal fade" id="modalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Apoderado</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Para crear un <b>Apoderado</b> rellena los siguientes campos que tendras a continuación:</p>
          <form action="crear">
            <label for="nombres">Nombres (Ej: Jose Juan): </label>
            <input class="form-control" type="text" name="nombres" id="nombres">

            <label for="apellido_p">Apellido Paterno: </label>
            <input class="form-control" type="text" name="apellido_p" id="apellido_p">

            <label for="apellido_m">Apellido Materno: </label>
            <input class="form-control" type="text" name="apellido_m" id="apellido_m">

            <label for="rut">R.U.T (Ej: 123456789): </label>
            <input class="form-control" type="number" name="rut" id="rutcrear">

            <label for="telefono">Telefono (Ej: 912345678): </label>
            <input class="form-control" type="number" name="telefono" id="telefono">

            <button type="button" class="btn btn-primary" id="crearEstudianteBtn">Crear Apoderado</button>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar -->
  <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Estudiante:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="nombres">Nombres (Ej: Jose Juan): </label>
              <input class="form-control" type="text" name="nombres" id="ed_nombres">

              <label for="apellido_p">Apellido Paterno: </label>
              <input class="form-control" type="text" name="apellido_p" id="ed_apellido_p">

              <label for="apellido_m">Apellido Materno: </label>
              <input class="form-control" type="text" name="apellido_m" id="ed_apellido_m">

              <label for="rut">R.U.T (Ej: 123456789): </label>
              <input class="form-control" type="number" name="rut" id="ed_rutcrear">

              <label for="telefono">Telefono (Ej: 912345678): </label>
              <input class="form-control" type="number" name="telefono" id="ed_telefono">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" id="editarBtn" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/apoderados.js"></script>

</body>


</html>