<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="./css/estudiantes.css">
</head>

<body data-bs-theme="dark">
  <br>
  <div class="contenedor">
    <div class="contenedor-tabla">
      <h1>Estudiantes</h1>
      <table id="myTable" class="table-sm table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">curso</th>
            <th scope="col">nombres</th>
            <th scope="col">apellido_p</th>
            <th scope="col">opciones</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCrear">
        Crear Estudiante
      </button>
    </div>

    <div class="ficha hide">
      <div class="estudiante-card">
        <img src="../images/avatar.png" alt="">
        <div class="info">
          <p class="titulo" id="nombre-estudiante">Damián Alberto Panes Lobos</p>
          <p class="descripcion"><span id="rut-estudiante">21.932.498-7</span> | <span
              id="contacto-estudiante">+56940806215</span>
            | <span id="nivel-estudiante">4F</span>
          </p>
          <div class="buttons">
            <button class="primary-btn">Ver Atrasos</button>
            <button class="secondary-btn" onclick="btnEditarModal()">Editar</button>
          </div>
        </div>


      </div>
      <div class="apoderados-card">
        <p class="apoderado-ptitle">Apoderado Principal</p>
        <p class="apoderado-pstitle">Nombre Apoderado</p>
        <p class="apoderado-pdato" id="nombre-apoderado-principal">Ines Estrella Lobos Ruiz</p>
        <p class="apoderado-pstitle">Dirección Apoderado</p>
        <p class="apoderado-pdato" id="direccion-apoderado-principal">Luis Araneda 1206, Chillán Viejo</p>
        <p class="apoderado-pstitle">Número de Telefono</p>
        <p class="apoderado-pdato" id="telefono-apoderado-principal">+56 9 1234 5678</p>
        <p class="apoderado-ptitle">Apoderado Suplente</p>
        <p class="apoderado-pstitle">Nombre Apoderado</p>
        <p class="apoderado-pdato" id="nombre-apoderado-suplente">Robnaldo Gustavo Panes Castro</p>
        <p class="apoderado-pstitle">Dirección Apoderado</p>
        <p class="apoderado-pdato" id="direccion-apoderado-suplente">Luis Araneda 1206, Chillán Viejo</p>
        <p class="apoderado-pstitle">Número de Telefono</p>
        <p class="apoderado-pdato" id="telefono-apoderado-suplente">+56 9 1234 5678</p>
      </div>
      <div class="buttons-bottom">
        <button class="primary-btn" onclick="btnBorrar()">Eliminar Alumno</button>
      </div>
    </div>
  </div>

  <!-- Modal Crear Estudiante -->
  <div class="modal fade" id="modalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Estudiante</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Para crear un <b>Estudiante</b> rellena los siguientes campos que tendras a continuación:</p>
          <form action="crear">
            <label for="nombres">Nombres (Ej: Jose Juan): </label>
            <input class="form-control" type="text" name="nombres" id="nombres">

            <label for="apellido_p">Apellido Paterno: </label>
            <input class="form-control" type="text" name="apellido_p" id="apellido_p">

            <label for="apellido_m">Apellido Materno: </label>
            <input class="form-control" type="text" name="apellido_m" id="apellido_m">

            <label for="rut">R.U.T (Ej: 123456789): </label>
            <input class="form-control" type="text" name="rut" id="rutcrear">

            <label for="telefono">Telefono (Ej: 912345678): </label>
            <input class="form-control" type="text" name="telefono" id="telefono">

            <label for="direccion">Direccion (Ej: Jorge Andreda 300): </label>
            <input class="form-control" type="text" name="direccion" id="direccion">

            <button type="button" class="btn btn-primary" id="crearEstudianteBtn">Crear Estudiante</button>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Ver Estudiante -->
  <div class="modal fade" id="modalVer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloModal">Modal Title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="contenidoModal" class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Editar -->
  <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Juego:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nuevos Nombres:</label>
              <input type="text" class="form-control" id="Enombres">

              <label for="recipient-name" class="col-form-label">Nuevo Apellido Paterno:</label>
              <input type="text" class="form-control" id="Eapellido_p">

              <label for="recipient-name" class="col-form-label">Nuevo Apellido Materno:</label>
              <input type="text" class="form-control" id="Eapellido_m">

              <label for="recipient-name" class="col-form-label">Nuevo RUT:</label>
              <input type="text" class="form-control" id="Erut">

              <label for="recipient-name" class="col-form-label">Nuevo Telefono:</label>
              <input type="text" class="form-control" id="Etelefono">

              <label for="recipient-name" class="col-form-label">Nueva Dirección:</label>
              <input type="text" class="form-control" id="Edireccion">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" id="editarBtn" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/estudiantes.js"></script>

</body>


</html>