<!DOCTYPE html>
<html>

<head>
  <title>Página de inicio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body data-bs-theme="dark">
  <nav class="customnavbar">
    <img src="./images/logo.svg" alt="" class="logo">
    <div class="buttons">
      <ul>
        <li><a href="./categorias/estudiantes.html" target="iframe"><img src="./images/alumnos.svg" alt=""
              class="icon i-alumnos"></a></li>
        <li><a href="./categorias/inspectores.html" target="iframe"><img src="./images/inspectores.svg" alt=""
              class="icon i-inspectores"></a></li>
        <li><a href="#" target="iframe" id="btnCerrarSesion"><img src="./images/cerrarSesion.svg" alt=""
              class="icon i-cerrarSesion"></a></li>
        <li><a href="#" target="iframe"><img src="./images/avatar.png" </a></li>
      </ul>



    </div>
  </nav>

  <iframe id="iframe" name="iframe" src="./categorias/general.html" frameborder="0"></iframe>


  <script src="./js/checkToken.js">

  </script>
</body>

</html>